--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: researchrepo; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA researchrepo;


ALTER SCHEMA researchrepo OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_dispensing_summary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_dispensing_summary (
    id integer NOT NULL,
    drug_id integer,
    quantity_dispensed integer NOT NULL,
    dispensing_date date DEFAULT CURRENT_DATE NOT NULL,
    category character varying(50),
    notes text,
    recorded_by integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT daily_dispensing_summary_category_check CHECK (((category)::text = ANY ((ARRAY['IPD'::character varying, 'OPD'::character varying, 'OUTREACH'::character varying])::text[])))
);


ALTER TABLE public.daily_dispensing_summary OWNER TO postgres;

--
-- Name: daily_dispensing_summary_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.daily_dispensing_summary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_dispensing_summary_id_seq OWNER TO postgres;

--
-- Name: daily_dispensing_summary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.daily_dispensing_summary_id_seq OWNED BY public.daily_dispensing_summary.id;


--
-- Name: drug_names; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drug_names (
    id integer NOT NULL,
    type_id integer,
    name character varying(200) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.drug_names OWNER TO postgres;

--
-- Name: drug_names_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.drug_names_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drug_names_id_seq OWNER TO postgres;

--
-- Name: drug_names_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.drug_names_id_seq OWNED BY public.drug_names.id;


--
-- Name: drug_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drug_types (
    id integer NOT NULL,
    type_name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.drug_types OWNER TO postgres;

--
-- Name: drug_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.drug_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drug_types_id_seq OWNER TO postgres;

--
-- Name: drug_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.drug_types_id_seq OWNED BY public.drug_types.id;


--
-- Name: drugs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drugs (
    id integer NOT NULL,
    drug_type text,
    name text NOT NULL,
    batch_no text,
    description text,
    stock integer DEFAULT 0,
    mfg_date date,
    exp_date date,
    price numeric(10,2) NOT NULL,
    created_by integer,
    category text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT drugs_category_check CHECK ((category = ANY (ARRAY['IPD'::text, 'OPD'::text, 'OUTREACH'::text, NULL::text])))
);


ALTER TABLE public.drugs OWNER TO postgres;

--
-- Name: drugs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.drugs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drugs_id_seq OWNER TO postgres;

--
-- Name: drugs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.drugs_id_seq OWNED BY public.drugs.id;


--
-- Name: login_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_logs (
    id integer NOT NULL,
    user_id integer,
    email character varying(255) NOT NULL,
    ip_address character varying(45) NOT NULL,
    user_agent text,
    status character varying(20) NOT NULL,
    attempt_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    failure_reason character varying(255)
);


ALTER TABLE public.login_logs OWNER TO postgres;

--
-- Name: login_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_logs_id_seq OWNER TO postgres;

--
-- Name: login_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_logs_id_seq OWNED BY public.login_logs.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    drug_id integer,
    custom_name text,
    manufacturer_name text,
    quantity integer NOT NULL,
    unit_price numeric(10,2),
    total_price numeric(12,2) GENERATED ALWAYS AS (((quantity)::numeric * unit_price)) STORED,
    source_type text,
    category text,
    batch_no text,
    seller_id integer,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT order_items_category_check CHECK ((category = ANY (ARRAY['IPD'::text, 'OPD'::text, 'OUTREACH'::text, NULL::text]))),
    CONSTRAINT order_items_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT order_items_source_type_check CHECK ((source_type = ANY (ARRAY['institute'::text, 'manufacturer'::text]))),
    CONSTRAINT order_items_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'approved'::text, 'out_of_stock'::text, 'rejected'::text, 'shipped'::text])))
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_no text NOT NULL,
    user_id integer NOT NULL,
    recipient_id integer,
    transaction_type text NOT NULL,
    notes text,
    total_amount numeric(12,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT orders_transaction_type_check CHECK ((transaction_type = ANY (ARRAY['institute'::text, 'manufacturer'::text, 'pharmacy'::text])))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: rate_limiter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rate_limiter (
    key text NOT NULL,
    points integer NOT NULL,
    expire bigint NOT NULL
);


ALTER TABLE public.rate_limiter OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    phone text NOT NULL,
    street text NOT NULL,
    city text NOT NULL,
    state text NOT NULL,
    postal_code text NOT NULL,
    country text DEFAULT 'India'::text,
    status text DEFAULT 'Pending'::text NOT NULL,
    registration_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    license_number text NOT NULL,
    role text DEFAULT 'pharmacy'::text NOT NULL,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['admin'::text, 'institute'::text, 'pharmacy'::text]))),
    CONSTRAINT users_status_check CHECK ((status = ANY (ARRAY['Active'::text, 'Pending'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: daily_dispensing_summary id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_dispensing_summary ALTER COLUMN id SET DEFAULT nextval('public.daily_dispensing_summary_id_seq'::regclass);


--
-- Name: drug_names id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_names ALTER COLUMN id SET DEFAULT nextval('public.drug_names_id_seq'::regclass);


--
-- Name: drug_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_types ALTER COLUMN id SET DEFAULT nextval('public.drug_types_id_seq'::regclass);


--
-- Name: drugs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drugs ALTER COLUMN id SET DEFAULT nextval('public.drugs_id_seq'::regclass);


--
-- Name: login_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_logs ALTER COLUMN id SET DEFAULT nextval('public.login_logs_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: daily_dispensing_summary; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: drug_names; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: drug_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: drugs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: login_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, order_no, user_id, recipient_id, transaction_type, notes, total_amount, created_at, updated_at) FROM stdin;
1	PHARM-ORD-242F6426	4	2	institute	\N	176.30	2025-11-07 01:31:09.473546	2025-11-07 01:31:09.473546
2	ORD-679E7F4B	2	7	institute	\N	39.47	2025-11-07 01:41:39.660638	2025-11-07 01:41:39.660638
3	PHARM-ORD-10221C5E	4	2	institute	\N	167.09	2025-11-07 01:50:29.740663	2025-11-07 01:50:29.740663
\.


--
-- Data for Name: rate_limiter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rate_limiter (key, points, expire) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: daily_dispensing_summary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_dispensing_summary_id_seq', 16, true);


--
-- Name: drug_names_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.drug_names_id_seq', 361, true);


--
-- Name: drug_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.drug_types_id_seq', 38, true);


--
-- Name: drugs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.drugs_id_seq', 3746, true);


--
-- Name: login_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.login_logs_id_seq', 79, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 5, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: daily_dispensing_summary daily_dispensing_summary_drug_id_dispensing_date_category_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_dispensing_summary
    ADD CONSTRAINT daily_dispensing_summary_drug_id_dispensing_date_category_key UNIQUE (drug_id, dispensing_date, category);


--
-- Name: daily_dispensing_summary daily_dispensing_summary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_dispensing_summary
    ADD CONSTRAINT daily_dispensing_summary_pkey PRIMARY KEY (id);


--
-- Name: drug_names drug_names_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_names
    ADD CONSTRAINT drug_names_pkey PRIMARY KEY (id);


--
-- Name: drug_names drug_names_type_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_names
    ADD CONSTRAINT drug_names_type_id_name_key UNIQUE (type_id, name);


--
-- Name: drug_types drug_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_types
    ADD CONSTRAINT drug_types_pkey PRIMARY KEY (id);


--
-- Name: drug_types drug_types_type_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_types
    ADD CONSTRAINT drug_types_type_name_key UNIQUE (type_name);


--
-- Name: drugs drugs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drugs
    ADD CONSTRAINT drugs_pkey PRIMARY KEY (id);


--
-- Name: login_logs login_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_logs
    ADD CONSTRAINT login_logs_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_order_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_order_no_key UNIQUE (order_no);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: rate_limiter rate_limiter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_limiter
    ADD CONSTRAINT rate_limiter_pkey PRIMARY KEY (key);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_license_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_license_number_key UNIQUE (license_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_dispensing_summary_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispensing_summary_date ON public.daily_dispensing_summary USING btree (dispensing_date);


--
-- Name: idx_dispensing_summary_drug_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispensing_summary_drug_date ON public.daily_dispensing_summary USING btree (drug_id, dispensing_date);


--
-- Name: idx_login_logs_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_email ON public.login_logs USING btree (email);


--
-- Name: idx_login_logs_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_time ON public.login_logs USING btree (attempt_time);


--
-- Name: idx_rate_limiter_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rate_limiter_expire ON public.rate_limiter USING btree (expire);


--
-- Name: daily_dispensing_summary daily_dispensing_summary_drug_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_dispensing_summary
    ADD CONSTRAINT daily_dispensing_summary_drug_id_fkey FOREIGN KEY (drug_id) REFERENCES public.drugs(id) ON DELETE CASCADE;


--
-- Name: daily_dispensing_summary daily_dispensing_summary_recorded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_dispensing_summary
    ADD CONSTRAINT daily_dispensing_summary_recorded_by_fkey FOREIGN KEY (recorded_by) REFERENCES public.users(id);


--
-- Name: drug_names drug_names_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drug_names
    ADD CONSTRAINT drug_names_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.drug_types(id) ON DELETE CASCADE;


--
-- Name: drugs drugs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drugs
    ADD CONSTRAINT drugs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: login_logs login_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_logs
    ADD CONSTRAINT login_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: order_items order_items_drug_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_drug_id_fkey FOREIGN KEY (drug_id) REFERENCES public.drugs(id) ON DELETE SET NULL;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: orders orders_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: users users_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

